.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    color: #f2cf06;
     padding: 5px 10px;
    text-align: center;
      margin-top: 20px; 
  }
  
  .pokemonContainer {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Borde suavizado con efecto glass */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco semitransparente */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0; /* Agregar un borde a la card */
    border-radius: 5px; /* Añadir bordes redondeados */
    width: calc(25% - 20px); /* Ajustar el tamaño de cada card para que haya 4 columnas */
    margin: 10px;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pokemonImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  
  .pokemonName {
    margin-top: 10px;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .statsContainer > div {
    margin: 0 10px;
  }
  
  .typesContainer {
    margin-top: 20px;
  }
  
  .btn {
    background-color: white;
    color: #3f51b5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }

:hover .btn{
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgb(98, 0, 255), 0 0 40px rgb(98, 0, 255), 0 0 80px rgb(98, 0, 255);
  }

  ::placeholder{
    color: grey;
  
  }
   
  
  .btn:hover{
    background: rgb(19, 8, 134);
    color: #c5f908;
  }