.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    margin-top: 20px;
  }
  
  .pokemonContainer {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Borde suavizado con efecto glass */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco semitransparente */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0; /* Agregar un borde a la card */
    border-radius: 5px; /* Añadir bordes redondeados */
    width: calc(25% - 20px); /* Ajustar el tamaño de cada card para que haya 4 columnas */
    margin: 10px;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pokemonImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  
  .pokemonName {
    margin-top: 10px;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .statsContainer > div {
    margin: 0 10px;
  }
  
  .typesContainer {
    margin-top: 20px;
  }
  