body {
  background-image: url('../Image/fondo.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.title {
  color: #f2cf06;
   padding: 5px 10px;
  text-align: center;
    margin-top: 20px; 
}

.contenedor {
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .selectContainer {
    margin-bottom: 10px;
  }
  
  .select {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  
  .card {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
  }

  
  