nav {
    display: flex;
    justify-content: center;
    
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  .page {
    margin: 0 5px;
    background-color: #eaeaea; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Borde redondeado */
  padding: 8px 12px; /* Espaciado interno */
  }
  
  .btn {
    background-color: white;
    color: #3f51b5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }

:hover .btn{
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgb(98, 0, 255), 0 0 40px rgb(98, 0, 255), 0 0 80px rgb(98, 0, 255);
  }

  ::placeholder{
    color: grey;
  
  }
   
  .btn:hover{
    background: rgb(19, 8, 134);
    color: #c5f908;
  }